{
  "singleQuote": true,
  "semi": false,
  "useTabs": false,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "none",
  "bracketSpacing": false,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
